body {
    background-color: white;
    color: black;
    font-size: 12pt;
    line-height: 16pt;
    margin: 0 auto;
    padding: 0;
}

a:link {
    color: #666633;
}

a:visited {
    color: #666633;
}

a:hover {
    color: #FE4075;
}

#content {
    margin: 0 auto;
    width: 960px;
}


div#box {
    background: none repeat scroll 0 0 white;
    border: 0px solid #cccc99;
    color: black;
    margin-bottom: 25px;
    padding: 20px;
}


#menu1 {
    clear: both;
    height: 25px;
    list-style-type: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    padding: 25px 5px 30px 0px;
    width: 900px;
    margin:0;
}

#menu1 li {
    border: 0px solid #cccc99;
    float: right;
    list-style:none;
}

#menu1 a {
    font-size: 10pt;
    font-weight: bold;
    background: none repeat scroll 0 0 white;
    color: #000;
    display: inline;
    float: left;
    height: 25px;
    padding-bottom: 20;
    padding-top: 6px;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;
    width: 95px;
}

#menu1 a:hover {
    text-decoration: underline;
    color: #FE4075;
}

li {
   padding-top: 6px; 
}
